import(nlme)
export(medrm, medrcselect, maplot, mmaED, LL4.loged, LN4.loged, W14.loged, W24.loged)

S3method(df.residual, medrc)
S3method(plot, medrc)
S3method(predict, medrc)
S3method(vcov, medrc)
S3method(summary, medrc)
S3method(residuals, medrc)
S3method(ranef, medrc)




